<html>
<body>
<div class="container" style='top: 100px;left:80px;right:155px; position: relative;background-color:transparent'>
<table>
<td>
    <div class="postlist">
    <tr>
      <div><h3>Scheduled Posts:</h3></div>
      {% for post in posts %}
      </tr>
          <div class="panel panel-info"style="margin-right:500" >
             <div class="panel-heading">
               <h4 class="panel-title" style>{{post.date_to_post}}
                  <a class="badge pull-right" href="/edit/{{post.key.id()}}">Edit</a>
                  <a class="badge pull-right" href="/delete/{{post.key.id()}}">Delete</a>
                 </h4>
          
             </div>
             <tr>
             <div class="panel-body">
              <h4> {{post.message}}</h4>
             </div>
           </div>
      {% else %}
      
      <div>
         <h4> No post to show</h4>
      </div>
         {% endfor %}

    </div>
</tr>
<tr>
    <div class="postlist">
      <div><h3>Posted:</h3></div>
      {% for post in posted %}
      
          <div class="panel panel-info"style="margin-right:500" >
        <div class="panel-heading">
          <h3 class="panel-title">{{post.date_to_post}}
            <a class="badge pull-right" href="/delete/{{post.key.id()}}">Delete</a>
          </h3>
          
        </div>

        <div class="panel-body">
          {{post.message}}
        </div>
      </div>
      {% else %}
      
      <div style="font-color:black">
          <h4>No post to show</h4>
         </div>
         {% endfor %}
</tr>
</div>

      


    


      <!-- End of Content-->
</div>
</body>
</html>