<html>

<div class="container" style='top: 70px; position: relative;'>
    <div class='row'>

        <form role="form" id="post-form" action="/" method="post" class="col-md-8">
          <div class="form-group">
            <label for="exampleInputEmail1" style = "color:black;font-size:30px">Status: </label>
            <textarea name="message" class="form-control" id="message" required placeholder="Write Something..."></textarea>
            <input type="hidden" name="access_token" value="">
            <input type="hidden" name="fbID" value="">
            <br>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>

                    <input type='text' class="form-control" name="date_to_post"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" required></span>
                    </span>
                </div>
            </div>
          </div>
          <button type="submit" class="btn btn-default btn-facebook">Post</button>
        </form>
        <div class="fb-like" data-href="https://developers.facebook.com/apps/365075190309550/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

</div>
</body>
</html>
